<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Products in Cart</h1>
    <ul>
        <li th:each="ppurchase : ${ppurchases}">
            <span th:text="${ppurchase.product.name}"></span>
            <p>
                Quantity:
                <form th:action="@{/purchase/update}" method="post">
                    <input type="hidden" name="productId" th:value="${ppurchase.product.id}"/>
                    <input type="text" name="newQuantity" th:value="${ppurchase.quantity}"/>
                    <button type="submit">Update</button>
                </form>
                Price: <span th:text="${ppurchase.quantity * ppurchase.product.price}"></span> €
            </p>
        </li>
    </ul>
    <p>
        Sub Total: <span th:text="${subTotal}"></span> €
    </p>
    <a th:href="@{/checkout/checkout1}">Checkout</a>
</body>
</html>