<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<body>
    <h1>Checkout</h1>
    <h2>Products in Cart</h2>
    <ul>
        <li th:each="ppurchase : ${ppurchases}">
            <span th:text="${ppurchase.product.name}"></span>
            <p>
                Quantity: <span th:text="${ppurchase.quantity}"></span>
                Price: <span th:text="${ppurchase.quantity * ppurchase.product.price}"></span> €
            </p>
        </li>
    </ul>
    <p>
        Sub Total: <span th:text="${subTotal}"></span> €
    </p>
    <p>
        Shipping address:

    </p>
</body>
</html>