<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<body>
    <h1>Checkout</h1>
    <h2>Products in Cart</h2>
    <ul>
        <li th:each="ppurchase : ${ppurchases}">
            <span th:text="${ppurchase.product.name}"></span>
            <p>
                Quantity: <span th:text="${ppurchase.quantity}"></span>
                Price: <span th:text="${ppurchase.quantity * ppurchase.product.price}"></span> €
            </p>
        </li>
    </ul>
    <p>
        Sub Total: <span th:text="${subTotal}"></span> €
    </p>
    <p>
        Choose a shipping address:
    </p>
    <form th:action="@{/checkout/checkout2}" method="post" th:object="${shippingAddress}">
        <input type="radio" th:each="sAddress : ${sAddresses}" th:field="*{id}" th:value="${sAddress.id}" th:checked="${sAddress.defaultAddress}">
            <span th:text="${sAddress.name}"></span><br/>
            <span th:text="${sAddress.street} "></span>
            <span th:text="${sAddress.number}"></span><br/>
            <span th:text="${sAddress.zip} + ','"></span>
            <span th:text="${sAddress.city}"></span><br/>
        </input>
        <button type="submit">Confirm Purchase</button>
    </form>

</body>
</html>