<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head" lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>My Shop</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <ul th:fragment="nav">
        <li>
            <a th:href="@{/product/}">Products</a>
        </li>
        <li>
            <a th:href="@{/purchase/cart}">Cart</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <p>
                Account: <span sec:authentication="name"></span>
            </p>
        </li>
    </ul>

    <div th:fragment="flash" th:if="${flash != null}">
        <p th:text="${flash.message}"></p>
    </div>
</body>
</html>