<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <div th:replace="layout :: flash"></div>
    <ul th:replace="layout :: nav"></ul>
    <h2>Cart</h2>
    <p>
        Sub total: <span th:text="${subTotal}"></span> €
    </p>
    <h1>Products</h1>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.name}"></span>
            <span th:text="${product.price} + ' €'"></span>
            <a th:href="@{/product/detail/} + ${product.id}">Detail</a>
            <form th:action="@{/purchase/add}" method="post">
                <input type="hidden" name="id" th:value="${product.id}"/>
                <input type="hidden" name="quantity" value="1"/>
                <button type="submit">Add to cart</button>
            </form>
        </li>
    </ul>
</body>
</html>